<form [formGroup]="loginForm" (ngSubmit)="loginAttempt(loginForm.value, loginForm.valid)">

    <ul>
        <li><label>Email</label></li>
        <li>
            <input formControlName="email" placeholder="email">
            <small [hidden]="loginForm.controls.email.valid || (loginForm.controls.email.pristine && !submitted)">Email is required (minimum 5 characters)</small>
        </li>
        <li><br></li>
        <li><label>Password</label></li>
        <li>
            <input formControlName="password" placeholder="password">
            <small [hidden]="loginForm.controls.password.valid || (loginForm.controls.password.pristine && !submitted)">Password is required (minimum 5 characters)</small>
        </li>
        <li><br></li>
        <li>
            <input type="submit" name="" value="login" [disabled]="!loginForm.valid">
        </li>
    </ul>

</form>
